@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Phudu', cursive;
  height: 100vh;
  display: flex;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 233, 205, 1) 79%
  );
}

.img_background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  object-fit: fill;
}
.back_img {
  z-index: -10;
  position: relative;
  display: flex;

  align-items: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.log_img {
  position: absolute;
  height: 50%;
  width: 40%;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.log_img img {
  height: 50%;
  width: 50%;
  object-fit: contain;
}

fieldset {
  width: 65%;
}
form {
  display: flex;
  flex-direction: column;
  margin: 50px 20px;

  flex-wrap: wrap;
  position: relative;
}

input {
  margin: 10px 20px;
  border-radius: 8px;
  padding: 10px;
  outline: none;
}

.form_stack {
  /* position: absolute; */
  width: 60%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  height: 400px;
  padding: 20px;
  overflow: hidden;
}

h2 {
  padding: 20px;
  text-align: left;
}

.form_info label {
  font-weight: 600;
}

button {
  margin: 50px;
  align-self: flex-start;

  padding: 10px 40px;
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
  font-weight: 700;
  font-size: 18px;
  outline: none;
  background: #596d48;
  border: none;
}

button:hover {
  outline: none;
  border: none;
  box-shadow: 5px 0px 15px 3px rgba(0, 0, 0, 0.7);
}

button:active {
  scale: 0.96;
}

input:active,
input:focus {
  box-shadow: 0px 0 10px 2px rgb(0, 0, 0, 0.5);
  outline: none;
}

label {
  color: #ffffba;
  text-shadow: 1px 0px 10px 2px rgb(0, 0, 0, 0.5);
  line-height: 1.5;
  letter-spacing: 1.5;
}

.footer {
  display: flex;
  font-size: 17px;
  width: 50%;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
}
.footer a:hover {
  color: darkorange;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .form_stack {
    overflow: auto;
  }
}

small.msg {
  display: none;
}

.invalid {
  box-shadow: red;
  border: 2px solid red;
}

/* input:invalid:required {
  background-color: lightcoral;
} */

input:valid:required {
  background-color: none;
}

/* adding the error message  */

.error_message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.52);
  padding: 8rem;
  display: none;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.error_message.visible {
  display: flex;
}
